@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

.slider{
  @include flex(row, center, initial);

  &__image{
    width: 900px;
    height: 500px;
  }

  &__prev-btn{
    display: none;
  }
}