@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

.slider {
  @include flex(row, center, initial);

  &__planet-container {
    padding: 20px;
    width: 500px;
  }

  &__prev-btn {
    display: none;
  }
}

.planet-container {
  @include flex(column, center, center);
  gap: 15px;
  font-size: 24px;
  text-align: center;
}