@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

.smile-list {
  @include flex(row, space-evenly, initial);
  height: 150px;
}

.smile-item {
  @include flex(column, space-around, center);

  &__btn:hover {
    cursor: pointer;
  }
}